<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.change_vision.astah.calendar_image.actionSet">
         <action
         label="%menu_label"
               icon="icons/sample.gif"
               class="com.change_vision.astah.calendar.CalendarImageAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/export_image"
               id="calendar_image">
         </action>
     </actionSet>
   </extension>
</plugin>
